.root {
  padding-top: 80px;
  padding-bottom: 80px;
}

.inner {
  position: relative;
}

.image {
  position: absolute;
  inset: 0;
  opacity: 0.75;
  color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.content {
  padding-top: 220px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 38px;
}

.description {
  max-width: 540px;
  margin: auto;
}
