.noSelect {
  user-select: none;
}

.pointerEventsNone {
  pointer-events: none;
}

.capitalize {
  text-transform: capitalize !important;
}

.radiusSm {
  border-radius: var(--mantine-radius-sm);
}

.radiusMd {
  border-radius: var(--mantine-radius-md);
}
