.wrapper {
  background-color: var(--mantine-color-gray-0);
  border-radius: var(--mantine-radius-sm);
  padding: var(--mantine-spacing-sm);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.wrapper:hover {
  background-color: var(--mantine-color-gray-1);
}
